@model Benchain.FosilFreeFuture.Web.ViewModels.InitiatorViewModel

@await Html.PartialAsync("_ProfileCard", Model.ProfileCard)

@await Html.PartialAsync("_ProjectsCard", Model.FundedProjectCard)

@await Html.PartialAsync("_EditProject", Model.Project)


<script>
    window.onload = function() {
        const ethereumButton = document.querySelector('.enableEthereumButton');
        ethereumButton.addEventListener("click", () => {
            if (typeof window.ethereum !== "undefined") {
                const accounts = ethereum.request({ method: "eth_requestAccounts" })
                console.log(accounts);
                //const account = accounts[0];
                walletID.innerHTML = accounts[0];
            }

        });
    }

</script>
<div id="walletID">Your wallet is not connected yet.</div>
<button class="enableEthereumButton">Enable Ethereum</button>



