@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
  <div class="col-12">

    <div class="card">
      <div class="card-header">
        <h5 class="card-title font-weight-bolder">My profile</h5>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>
        </div>
      </div>


      <div class="card-body">
        <div class="row">
          
          <div class="col-4">
            <div class="row">
              <div class="col-6">
                <div class="image">
                  <img src="dist/img/user2-160x160.jpg" class="img-circle elevation-4" alt="User Image">
                </div>
              </div>
              <div class="col-6">
                <div class="row">
                  <div class="col-12">
                    <strong>
                      <h5>Michiel Green</h5>
                    </strong>
                    <span class="users-list-date">The Hague, Netherlands</span>
                    </div>
                    <div class="col-12">
                      Curent balance
                    </div>
                    <div class="col-12 font-weight-bolder">
                      <i class="far fa-circle"></i> &nbsp;<strong>152</strong>
                    </div>
                  </div>
                </div>
            </div>
          </div>

         
          <div class="col-4">
            <div class="row">
              <div class="col-12">
                <strong>
                  <h5>Portfolio</h5>
                </strong>
              </div>
              <div class="col-6">KLM</div>
              <div class="col-6">50 Eth</div>
              
              <div class="col-6">Greencrowd</div>
              <div class="col-6">10 Eth</div>
              
              <div class="col-6">Meatless Farm</div>
              <div class="col-6">5 Eth</div>
              
            </div>
          </div>

          <div class="col-4">
            <strong>
              <h5>Badges</h5>
            </strong>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title font-weight-bolder">Backed projects by you</h5>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          
          <div class="col-4">
            
            <div class="card card-widget widget-user shadow-lg elevation-2">

              <div class="widget-user-header text-white" style="background: url('../dist/img/amazon.jpg') center center;">
                <h3 class="widget-user-username text-right font-weight-bolder">Amazon Rainforest Project</h3>
                <h5 class="widget-user-desc text-right font-weight-bold">Peru</h5>
              </div>

              <div class="widget-user-image">
                <img class="img-circle elevation-2" src="../dist/img/logo/vattenfall.jpg" alt="User Avatar">
              </div>

              <div class="card-footer">

                <div class="row">
                  <div class="col-12">
                    <p>
                      The Brazil Nut Rainforest REDD Project is active in the southeast of Peru where it...
                    </p>
                  </div>
                  <div class="col-12">
                    Initiated by: CO2OL
                  </div>
                </div>

                <div class="row">
                  <div class="col-12 my-2">
                    <div class="progress-group">
                      <span class="progress-text font-weight-bold">Progress</span>
                      <span class="float-right"><b>70%</b>/ 2520 Eth</span>
                      <div class="progress progress-md">
                        <div class="progress-bar bg-success rounded" style="width: 60%"></div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row my-2">
                  <div class="col-8">
                    <button type="button" class="btn btn-block bg-gradient-warning btn-lg">Back project</button>
                  </div>
                  <div class="col-4">
                    Funds needed:<br/>
                    <span class="font-weight-bolder">3600 Eth</span>
                  </div>
                </div>

              </div>
            </div>
            
          </div>




            <div class="col-4"></div>

                <div class="col-4"></div>

              </div>
      </div>
    </div>
  </div>
</div>



